[mysqld]
disable_log_bin
skip_log_bin = 1
innodb_use_native_aio=0
explicit_defaults_for_timestamp = 1
default-authentication-plugin=caching_sha2_password
log_bin_trust_function_creators = 1

#Query log
#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/slow-query.log
#long_query_time=1
#general_log_file = /var/log/mysql/query.log
#general_log      = 1
#log_queries_not_using_indexes = 1

performance_schema = 0
max_connections = 200
#ssl = 0
innodb_undo_log_truncate = off
innodb_doublewrite = 0
#50-80% ram
innodb_buffer_pool_size = 512M
#25% pool size
innodb_log_buffer_size = 128M
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
max_allowed_packet=64M
